body{
    background-color:#FFFFF0;
    font-family: 'Baloo Thambi 2', cursive;

}
*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
} 

a:hover{
    color: rgb(245,222,179)
}

#greenTick{
    height: 23px;
    margin-left: 16px;
    display: none;
}
.Food-title{
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 92px;
    margin-top: -175px;
    color: rgb(245,222,179);
    text-decoration: line-through;
}

.ft-1 {
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 13px;
}
.navbar{
    background-color: #FFFFF0 !important;
}

 #food-menu li{
    margin-top: 25px;
    font-size: 20px;
    width: 100px;
    color: #060606a6;
}
.burger-container:hover{
    box-shadow: -1px 18px 18px;
}

#ctaSection{
    padding: 0px 20px;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

#food-menu{
    margin-top: 70px;
    width: 25%;
} 

.discription{
    font-size: 15px;
    width: 250px;
    padding-top: 25px;
    margin-left: -20px;  
    font-weight: bold;
}

#food-image-container{
    height: 1000px;
    margin-left: 5%;
 }

.burger-image{
    width: 300px;
    height: 200px;
    margin-left: -38px;
    border-radius: 10px;
}

.burger-container{
    width: 325px;
    height: auto;
    padding: 50px;
    padding-top: 20px;
    float: left;
    margin-left: 100px;
    box-shadow: 1px 1px 10px 0px;
    min-height: 640px;
    border-radius: 12px;
}

#itemTitle{
    font-family: 'Baloo Thambi 2', cursive;
    margin-top: 10px;
}

.burger-container {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#headerIncButton{
    width: 35px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
}
#headerDecButton{
    width: 34px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 20px;
    padding-left: 20px;
}
.addToCartMobile{
    height: 55px;
    border-radius: 22px;
    border: solid 1.5px lightgray;
    box-shadow: 4px 7px 18px darkgrey;
    background-color: transparent;
    outline: none !important;
    color: darkgreen;
    width: 100%;
    margin-right: 0px;
    margin-top: 13.5px;
}
.cartCounter{
    color: red;
}
.dot{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 18px;
}

.itemCost{
    display: block;
    font-size: 40px;
    font-family: 'Baloo Thambi 2';
    vertical-align: -3px;
}

.qtTextBox{
    width: 60px;
    height: 45px;
    border: 1px black solid;
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
    margin-left: 30px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}








