body{background-color:#FFFFF0;font-family: 'Baloo Thambi 2', cursive;}
*{box-sizing: border-box;}
li{list-style-type: none;} 
a:hover{color: rgb(245,222,179)}


.Food-title{
    text-align: center;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 92px;
    margin-top: -175px;
    color: rgb(245,222,179);
    text-decoration: line-through;
}
.ft-1 {
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 13px;
}
.navbar{
    background-color: #FFFFF0 !important;
}
 #food-menu li{
    margin-top: 25px;
    font-size: 20px;
    width: 100px;
    color: #060606a6;
    white-space: nowrap;
}
.burger-container:hover{
    box-shadow: -1px 18px 18px;
}
#ctaSection{
    padding: 0px 20px;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}
#food-menu{
    margin-top: 70px;
    width: 25%;
} 
.discription{
    font-size: 15px;
    width: 250px;
    padding-top: 25px;
    margin-left: -20px;  
    font-weight: bold;
    font-family: 'Baloo Thambi 2', cursive;
}
#food-image-container{
    height: 1000px;
    margin-left: 8%;
 }
.burger-image{
    width: 300px;
    height: 200px;
    margin-left: -38px;
    border-radius: 10px;
}
.burger-container{
    width: 325px;
    height: auto;
    padding: 50px;
    padding-top: 20px;
    float: left;
    margin-left: 100px;
    box-shadow: 1px 1px 10px 0px;
    min-height: 640px;
    border-radius: 12px;
    margin-bottom: 70px;
}
#itemTitle{
    font-family: 'Baloo Thambi 2', cursive;
    margin-top: 10px;
}
.burger-container {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#headerIncButton{
    width: 35px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px;
}
#headerDecButton{
    width: 34px;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 20px;
    padding-left: 20px;
}
.addToCartMobile{
    height: 55px;
    border-radius: 22px;
    border: solid 1.5px lightgray;
    box-shadow: 4px 7px 18px darkgrey;
    background-color: transparent;
    outline: none !important;
    color: darkgreen;
    width: 100%;
    margin-right: 0px;
    margin-top: 13.5px;
}
.cartCounter{
    color: red;
}
.dot{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 18px;
}
.itemCost{
    display: block;
    font-size: 40px;
    font-family: 'Baloo Thambi 2';
    vertical-align: -3px;
}
.qtTextBox{
    width: 60px;
    height: 45px;
    border: 1px black solid;
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
    margin-left: 30px;
}


/* Hidden cart */
#hiddenCartContainer{
    background-color: rgba(234, 204, 147, 0.76);
    border-radius: 30px;
    min-height: 500px;
    height: auto;
    width: 400px;
    position: absolute;
    top:8.5%;
    right: 10px;
    padding: 10px;
}
#cartHidden{
    height: 100%;
    border-radius: 20px;
    padding-top: 20px;
}
#hiddenChekOutBtn{
    position: relative;
}
#total{
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
#cartImg{
    width: 120px;
    margin-top: -17px;
}
#itemInCartNum{
    vertical-align: 4px;
    padding: 9px;
}
.itemsInCartContainer{
    height: 100px;
}
.qtyInput{
    width: 30px;
}
.removeBtn{
    float: right;
    margin-top: 7px;
    margin-left: 55px;
}
.qntContainer{
    float: right;
    font-size: 20px;
    margin-top: 7px;
}
.incBtn, .decBtn{
    padding: 0px 10px;
}





@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}




/* Checkout btn css */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
 figure {
    width: 75%;
    height: 60px;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
    bottom: 15px;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: 1em 50px !important;
}
 figure div {
	 height: 100%;
	 transform-style: preserve-3d;
	 -webkit-transform-style: preserve-3d;
	 transition: 0.25s;
	 -webkit-transition: 0.25s;
}
 figure:hover div {
	 transform: rotateX(-90deg);
}
 .checkOut {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 box-sizing: border-box;
	 border: 5px solid #fff;
	 font-family: 'Source Sans Pro', sans-serif;
	 line-height: 50px;
	 font-size: 17pt;
	 text-align: center;
	 text-transform: uppercase;
}
 .checkOut:nth-child(1) {
	 color: #fff;
	 transform: translate3d(0, 0, 30px);
	 -webkit-transform: translate3d(0, 0, 30px);
}
 .checkOut:nth-child(2) {
	 color: #609210;
	 background: #fff;
	 transform: rotateX(90deg) translate3d(0, 0, 30px);
	 -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
 


