*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
} 

.Food-title{
    text-align: center;
    font-size: 60px;
    margin-top: -175px;
    padding-bottom: 50px;
}

 #food-menu li{
    margin-top: 25px;
    font-size: 20px;
    width: 100px;
    color: black;
}
#food-menu li:hover{
    /* font-size: 22px; */
}

#food-menu{
    margin-top: 70px;
    width: 25%;
} 

.discription{
    font-size: 15px;
    width: 250px;
    padding-top: 25px;
      
}

#food-image-container{
    height: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-left: 100px;
 }

.burger-image{
    width: 300px;
    height: 200px;
    float: left;
    padding-right: 20px;
}

.burger-container{
    width: 325px;
    padding: 50px;
    float: left;
    margin: 25px;
   
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
    /* 3 columns, 3/12 in % */
    .burger-container {
      width: 25%;
    }